

/* button style*/
.sbutton{
padding: 0px;
margin: 0px;
}

.sbutton a {
background-color: #F2F2F2;
color: #CCC;
text-decoration: none;
padding-left: 2px;
padding-right: 2px;
width: 100%;
border-left-style:solid;
border-left-color:#FFF;
border-left-width:3px;
border-right-style:solid;
border-right-color:#FFF;
border-right-width:3px;;
}

.sbutton a:hover {
text-decoration: none;
color: #000; 
border-left-style:solid;
border-left-color:#808080;
border-left-width:3px;
border-right-style:solid;
border-right-color:#808080;
border-right-width:3px;
}

/*canvas style*/
.scanvas
{
border: solid;
margin-top: 30;
margin-right: 30;
margin-left: 30;
position: absolute;
width: 90%; height: 85%;
}

.smain_view
{
border:1px solid #aaa;
margin-top: 30;
margin-right: 30;
margin-left: 30;
position: absolute;
width: 90%; height: 85%;
}

/*tooltip style*/
#tooltip_id
{
border-top-left-radius: 12px 6px;
border-bottom-right-radius: 12px 6px;
border-top-right-radius: 10px 6px;
font-size:14px;
position: fixed;
top: 10;
margin-left: 220;
display:block;
width: 30em;
height:3em;
padding:2% 2% 2% 2%;
background:#666;
color:#fff;
}


/*list group elements style*/
#list-elem ul
 {
 list-style: none;
 padding: 0;
 margin: 0;
 }

 #list-elem li
 {
 float: left;
 margin: 0 0.15em;
 }

 #list-elem li a
 {
 height: 2em;
 line-height: 2em;
 float: left;
 width: 9em;
 display: block;
 border: 0.1em solid #dcdce9;
 color: #0d2474;
 text-decoration: none;
 text-align: center;
 }

 /* Hide from IE5-Mac \*/
 #list-elem li a
 {
 float: none
 }
 /* End hide */

 #list-elem
 {
 width:30em
 }

