
.swholepage{
margin-left: 50;
margin-right: 50;
box-shadow: 9px 9px 9px rgba(0,0,0,0.20);
border:1px solid #aaa;
min-height: 100%;
/*background-image: url(bkg.jpg);*/
background-color: #FFFFFF;
}

.sbanner{
margin-left: 20;
margin-right: auto;
box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
border: 1px solid #aaa;
}

del{text-decoration:line-through;}

.smainmenu{
	margin-left: 30;
	margin-right: auto;
	font-size: 18px;
}

/* navigation menu style*/
.smainmenu nav ul ul {
		display: none;
		z-index:1;
}

.smainmenu nav ul li:hover > ul {
	display: block;
	z-index:1;
}

.smainmenu nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	color: #fff;
	padding: 0 5px;
	border-radius: 3px;  
	list-style: none;
	position: relative;
	display: inline-table;
	z-index:1;
}

.smainmenu nav ul:after {
	content: ""; clear: both; display: block;
}

.smainmenu nav ul li {
	float: left;
	color: #000;
}

.smainmenu nav ul li:hover {
	background: #efefef;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	color: #000;
}

.smainmenu nav ul li:hover a {
	color: #000;
}

.smainmenu nav ul li a {
	display: block; padding: 4px 14px;
	color: #000; text-decoration: none;
}
		

.smainmenu nav ul ul {
	padding: 0;
	background: #efefef;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	position: absolute; top: 100%;
	color: #000;
}

.smainmenu nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	position: relative;
	color: #000;
}

.smainmenu nav ul ul li a {
	padding: 4px 14px;
	color: #000;
}	

.smainmenu nav ul ul li a:hover {
	background: #efefef;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	color: #000;
}

.smainmenu nav ul ul ul {
	position: absolute; left: 100%; top:0;
	white-space:nowrap;
}

/*radio buttons*/
.sradio {
	text-align: center;  
}
.sradio label {  
	display: inline-block;  
	cursor: pointer;  
	position: relative;  
	padding-left: 23px;  
	margin-right: 40px;  
	font-size: 19px;  
	height: 19px;  
}
.sradio input[type=radio] {  
	display: none;  
}
.sradio label:before {  
	content: "";  
	display: inline-block;  

	width: 17px;  
	height: 17px;  

	margin-right: 10px;  
	position: absolute;  
	left: 0;  
	bottom: 1px;  
	background-color: #ddf;  
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
}
.sradio label:before {  
	border-radius: 8px;  
}
.sradio input[type=radio]:checked + label:before {  
	content: "\2022";  
	color: #404040;  
	font-size: 30px;  
	text-align: center;  
	line-height: 18px;  
}

/*tabs*/
.scomputations_panel {
clear: both;
width: auto;
background-color: #F2F2F2;
}
.scomputations_panel ul {
list-style: none;
padding:0;
margin:0;
}
.scomputations_panel li {
float: left;
border: 1px solid #bbb;
border-bottom-width: 0;
margin: 0;
color: #000;
font-size: 17px;
}
.scomputations_panel li a{
background: #eee;
color: #757575;
width: 8em;
text-align: center;
text-decoration: none;
padding: 0 1em;
border-bottom-width: 0;
}
.scomputations_panel li a:hover {
background: #ddf;
}
.scomputations_panel li a:active {
border: 1px solid #000;
border-bottom-width: 0;
position: relative;
top: 1px;
background: white;
color: black;
font-weight: bold; 
}
.scomputations_panel li a:focus {
border: 1px solid #000;
border-bottom-width: 0;
position: relative;
top: 1px;
background: white;
color: black;
font-weight: bold; 
}
.scomputations_panel li a.selected {
border-bottom-width: 0;
position: relative;
top: 1px;
background: white;
color: black;
font-weight: bold; 
}
.scomputations_panel li.selected {
border: 1px solid #000;
border-bottom-width: 0;
position: relative;
top: 1px;
background: white;
color: black;
font-weight: bold; 
}

.scommand_panel {
border: 1px solid black;
clear: both;
padding: 0 1em;
margin-top: 15;
margin-left: 0;
background: white;
}

.sinput_div_id
{
box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
border-radius: 3px;  
border:1px solid #aaa;
text-align: center;
background: white;
margin-left: 10;
width: 750; height: auto;
margin-top: 20;
position: relative;
padding-bottom: 0.1cm;
}

.saddedinput_div_id
{
box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
border-radius: 3px;  
border:1px solid #aaa;
text-align: center;
margin-left: 30;
width: 600; height: auto;
margin-top: 20;
position: relative;
padding-bottom: 0.1cm;
background: #FBFDFB
}

/*commands button style*/
.sbutton{
width: 750;
padding: 0px;
margin: 0px;
margin-left: 10;
margin-top: 10;
min-height: 60;
border-right-style:solid;
border-right-color:#FFF;
border-right-width:3px;
}

.sbutton a {
background-color: #F2F2F2;
color: #757575;
text-decoration: none;
padding-left: 2px;
padding-right: 2px;
border-left-style:solid;
border-left-color:#FFF;
border-left-width:3px;
border-right-style:solid;
border-right-color:#FFF;
border-right-width:3px;
}

.sbutton a:hover {
text-decoration: none;
color: #000; 
background: #ddf;
border-left-style:solid;
border-left-color:#808080;
border-left-width:3px;
border-right-style:solid;
border-right-color:#808080;
border-right-width:3px;
}

.smain_view
{
box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
border-radius: 3px;  
text-align: center;
overflow: auto;
clear: both;
border:1px solid #aaa;
background: white;
margin-left: 10;
position: relative;
width: 750;
min-height: 200;
max-height: 500;
resize: both;
}

/*canvas style*/
.scanvasdiv
{
box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
border-radius: 3px;  
text-align: center;
float: left;
margin-left: 10;
border:1px solid #aaa;
margin-top: 20;
position: relative;
width: 750px; 
min-height: 600px;
background: white;
overflow: hidden;
}
.scanvas
{
margin-top: auto;
margin-left: auto;
margin-right: auto;
display: inline-block;
cursor: pointer; cursor: hand; 
resize: both;
}

#group_property_div_id
{
box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
background: white;
border-radius: 3px;  
text-align: center;
position: relative;
width: 50%;
margin: 0px auto;
}

/*tooltip style*/
#tooltip_id
{
border-radius:2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-moz-box-shadow: 0px 0px 8px 4px #666;
-webkit-box-shadow: 0px 0px 8px 4px #666;
box-shadow: 0px 0px 8px 4px #666;
font-size:14px;
position: absolute;
top: 370;
margin-left: 780;
display:block;
width: 25em;
padding:2% 2% 2% 2%;
background: rgb(14,14,14); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(14,14,14,1) 33%, rgba(125,126,125,1) 95%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(33%,rgba(14,14,14,1)), color-stop(95%,rgba(125,126,125,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(14,14,14,1) 33%,rgba(125,126,125,1) 95%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(14,14,14,1) 33%,rgba(125,126,125,1) 95%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(14,14,14,1) 33%,rgba(125,126,125,1) 95%); /* IE10+ */
background: linear-gradient(135deg,  rgba(14,14,14,1) 33%,rgba(125,126,125,1) 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

color:#fff;
}

/*input buttons customization*/
input[type="button"], input[type="submit"]
{
	border:2px groove #b8b8b8;
	cursor:pointer;
	font-size:		14px;
	background-color:	#efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#b8b8b8));
	background: -webkit-linear-gradient(top, #efefef, #b8b8b8);
	background: -moz-linear-gradient(top, #efefef, #b8b8b8);
	background: -o-linear-gradient(top, #efefef, #b8b8b8);
	background: linear-gradient(top, #efefef, #b8b8b8);
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	color:			#000000;
}
input[type="button"]:hover, input[type="submit"]:hover
{
	background-color:	#4b545f;
	-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}

/*text field customization*/

input[type="text"]
{
	border: 1px solid #b7bbbd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FBFDFB
}
input[type="text"]:hover
{
	background: #FBFDBB
}
table, th
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
tr
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F0F0F0;
}
td
{
border: 0px;
}
select, textarea, select option
{
	background-color: #FBFDFB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/*list group elements style*/
#list-elem ul
 {
	height: 2.5em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	vertical-align: middle;
	border: 1px Solid black;
 }

 #list-elem li
 {
 	display: block;
	height: 2.5em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	position: relative;
	float: left;
	vertical-align: middle;
	border: 1px Solid black;
 }

 #list-elem li a
 {
	display: block;
	height: 2.5em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	float: left;
	vertical-align: middle;
	border: 1px Solid black;
 }

#list_elem_perm ul
 {
 	display: block;
	height: 2.5em;
	width: auto;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	vertical-align: middle;
	border: 1px Solid black;
 }

#list_elem_perm li
{
	display: block;
	height: 2.5em;
	width: auto;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	vertical-align: middle;
	border: 1px Solid black;
}

#list_elem_perm li a
{
	display: block;
	height: 2.5em;
	width: auto;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	vertical-align: middle;
	border: 1px Solid black;
}

