
/* button style*/
.sbutton{
padding: 0px;
margin: 0px;
margin-left: 20;
border-right-style:solid;
border-right-color:#FFF;
border-right-width:3px;;
}

.sbutton a {
background-color: #F2F2F2;
color: #CCC;
text-decoration: none;
padding-left: 2px;
padding-right: 2px;
width: 100%;
border-left-style:solid;
border-left-color:#FFF;
border-left-width:3px;
border-right-style:solid;
border-right-color:#FFF;
border-right-width:3px;;
}

.sbutton a:hover {
text-decoration: none;
color: #000; 
border-left-style:solid;
border-left-color:#808080;
border-left-width:3px;
border-right-style:solid;
border-right-color:#808080;
border-right-width:3px;
}

.smain_menu
{
margin-top: 10;
margin-left: 20;
text-align: center;
position: relative;
}

.smain_menu a {
background-color: #CEDFF2;
color: #BBB;
text-decoration: none;
padding-left: 2px;
padding-right: 2px;
width: 100%;
border-left-style:solid;
border-left-color:#FFF;
border-left-width:3px;
border-right-style:solid;
border-right-color:#FFF;
border-right-width:3px;
}

.smain_menu a:hover {
text-decoration: none;
color: #000; 
border-left-style:solid;
border-left-color:#808080;
border-left-width:3px;
border-right-style:solid;
border-right-color:#808080;
border-right-width:3px;
}

.scommand_panel
{
margin-top: 10;
margin-left: 20;
position: relative;
}

/*canvas style*/
.scanvasdiv
{
text-align: center;
border:1px solid #aaa;
margin-top: 20;
margin-right: auto;
margin-left: auto;
position: relative;
width: 800px; height: 800px;
}
.scanvas
{
margin-top: auto;
margin-left: auto;
margin-right: auto;
width: 512px; height: 512px;
}

.smain_view
{
text-align: center;
overflow: auto;
border:1px solid #aaa;
background: #FBFDFB;
margin-top: 50;
margin-right: auto;
margin-left: auto;
position: relative;
width: 800; height: 50%;
}

#grp_div_id
{
border:1px solid #aaa;
text-align: center;
background: #FBFDFB;
margin-right: auto;
margin-left: auto;
/*width: 80%; height: 50%;*/
width: 800; height: auto;
margin-top: 50;
position: relative;
padding-bottom: 0.5cm;
}

#group_property_div_id
{
text-align: center;
position: relative;
width: 50%;
margin: 0px auto;
}

/*tooltip style*/
#tooltip_id
{
border-top-left-radius: 18px 18px;
border-bottom-right-radius: 18px 18px;
border-bottom-left-radius: 18px 18px;
border-top-right-radius: 18px 18px;
font-size:14px;
position: absolute;
top: 20;
margin-left: 400;
display:block;
width: 25em;
padding:2% 2% 2% 2%;
background:#666;
color:#fff;
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
}


/*list group elements style*/
#list-elem ul
 {
	height: 2.5em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	vertical-align: middle;
	border: 1px Solid black;
 }

 #list-elem li
 {
 	display: block;
	height: 2.5em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	position: relative;
	float: left;
	vertical-align: middle;
	border: 1px Solid black;
 }

 #list-elem li a
 {
	display: block;
	height: 2.5em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	float: left;
	vertical-align: middle;
	border: 1px Solid black;
 }

#list_elem_perm ul
 {
 	display: block;
	height: 2.5em;
	width: auto;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #ffffff;
	vertical-align: middle;
	border: 1px Solid black;
 }

 #list_elem_perm li
 {
 	display: block;
	height: 2.5em;
	width: auto;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #ffffff;
	vertical-align: middle;
	border: 1px Solid black;
 }

 #list_elem_perm li a
 {
	display: block;
	height: 2.5em;
	width: auto;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #ffffff;
	vertical-align: middle;
	border: 1px Solid black;
 }

