body, html {
  height: 95%;
}

.swholepage {
width: 85%;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
box-shadow: 5px 5px 5px rgba(0,0,0,0.20);
min-height: 95%;
background: #F8FAFB;
-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
-o-user-select: none;
}

.sbanner nav {
width:580px;
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box;
width: 600px;
padding: 0px 40px;
margin-left: -14px;

background: rgba(192,192,192,0.7);
filter: alpha(opacity=80); /* IE6-IE8 */
position: relative;

border-top-left-radius: 10px 5px;
border-top-right-radius: 10px 5px;
border-bottom-right-radius: 10px 5px;
}

.nav-left {
position: absolute;
left:0;
bottom:-14px;
width:14px;
height:14px;
background: rgba(192,192,192,0.7);
border-bottom-left-radius: 100% 50%;
}

.nav-left:after {
content: '';
position: absolute;
right:0;
width:66%;
height:66%;
background: #000;
border-top-left-radius:100% 50%;
border-bottom-left-radius:100% 50%;
}

del{text-decoration:line-through;}

/* navigation menu style*/
.sbanner nav ul {
font-size: 18px;
background: #efefef; 
background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
color: #fff;
padding: 0 5px;
border-radius: 3px;  
list-style: none;
position: relative;
display: inline-table;
z-index:1;
}
.sbanner nav ul ul {
display: none;
z-index:1;
}
.sbanner nav ul li:hover > ul {
display: block;
z-index:1;
}
.sbanner nav ul:after {
content: ""; clear: both; display: block;
}

.sbanner nav ul li {
float: left;
color: #000;
}
.sbanner nav ul li:hover {
background: #efefef;
background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
color: #000;
}
.sbanner nav ul li:hover a {
color: #000;
}

.sbanner nav ul li a {
display: block; padding: 4px 14px;
color: #000; text-decoration: none;
}
.sbanner nav ul ul {
padding: 0;
background: #efefef;
background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
position: absolute; top: 100%;
color: #000;
}
.sbanner nav ul ul li {
float: none; 
border-top: 1px solid #6b727c;
position: relative;
color: #000;
}
.sbanner nav ul ul li a {
padding: 4px 14px;
color: #000;
}	
.sbanner nav ul ul li a:hover {
background: #efefef;
background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
color: #000;
}
.sbanner nav ul ul ul {
	position: absolute; left: 100%; top:0;
	white-space:nowrap;
}

/*radio buttons*/
.sradio {
	font-size:17px;
	font-weight:bold;
    color:#666;
	text-align: center;
	width: 100%;
}
input[type="radio"] {
	opacity: 0;
	position: absolute;
}
input[type="radio"] + label > span {
	position: relative;
	border-radius: 14px;
	width: 20px;
	height: 20px;
	background-color: #f0f0f0;
	border: 1px solid #bcbcbc;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	margin: 0 5px 0 0;
	display: inline-block;
	vertical-align: middle;
}
input[type="radio"]:checked + label > span {
	background: linear-gradient(#a0e5f8, #75c7dc);
	background: -webkit-linear-gradient(#a0e5f8, #75c7dc);
	border-color: #41a6bf;
	box-shadow: 0px 1px 2px rgba(65, 166, 191, 0.9) inset;
}
input[type="radio"]:checked + label > span span {
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 6px;
    top: 6px;
    border-radius: 5px;
    border: none;
    background: #167c95;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.3);
}
input[type="radio"]:focus + label > span {
	box-shadow: 0px 0px 6px rgba(63, 165, 190, 1);
}

/*tabs*/
.scomputations_panel {
clear: both;
width: auto;
background-color: #F2F2F2;
}
.scomputations_panel ul {
list-style: none;
padding:0;
margin:0;
margin-left: 30px;
}
.scomputations_panel li {
float: left;
border: 1px solid #bbb;
border-bottom-width: 0;
margin: 0;
color: #000;
font-size: 17px;
}
.scomputations_panel li a{
background: #eee;
color: #757575;
width: 8em;
text-align: center;
text-decoration: none;
padding: 0 1em;
border-bottom-width: 0;
}
.scomputations_panel li a:hover {
background: #ddf;
}
.scomputations_panel li a.selected {
border-bottom-width: 0;
position: relative;
top: 1px;
background: #F8FAFB;
color: black;
font-weight: bold; 
}
.scomputations_panel li.selected {
border: 1px solid #000;
border-bottom-width: 0;
position: relative;
top: 1px;
background: white;
color: black;
font-weight: bold; 
}


.sfieldset1 {
text-align: center;
background: #F0F0F0;
background: linear-gradient(top, #fff 0%, #F0F0F0 80%);
background: -moz-linear-gradient(top, #fff 0%, #F0F0F0 80%);
background: -webkit-linear-gradient(top, #fff 0%,#F0F0F0 80%);
border: 2px solid #aaa;
border-radius: 10px;
}
.sfieldset {
border: 2px solid #ddf;
text-align: center;
background: white;
border: 2px solid #ddf;
border-radius: 10px;
}

.scommand_panel {
border: 1px solid black;
clear: both;
margin-top: 15px;
margin-left: 0;
background: #F8FAFB;
border-bottom-width: 0;
border-left-width: 0;
border-right-width: 0;
-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
-o-user-select: none;
}

.sinput_div_id
{
border: 2px solid #ddf;
border-radius: 3px;  
text-align: center;
background: white;
width: 750px; height: auto;
border-radius: 10px;
margin-top: 30px;
margin-left: 30px;
position: relative;
padding-bottom: 0.1cm;
-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
-o-user-select: none;
}

.saddedinput_div_id {
-moz-box-shadow:    inset 0px 0px 15px 2px #ddf;
-webkit-box-shadow: inset 0px 0px 15px 2px #ddf;
box-shadow:         inset 0px 0px 15px 2px #ddf;
border-radius: 3px;  
text-align: center;
margin-left: 30px;
width: 600px; height: auto;
margin-top: 20px;
position: relative;
padding-bottom: 0.1cm;
background: white;
}

/*commands button style*/
.sbutton {
width: 750px;
margin-left: 30px;
margin-top: 30px;
}
.sbutton a {
display: inline-block;
background-color: #F2F2F2;
color: #757575;
text-decoration: none;
margin-left: 30px;
margin-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-right: 20px;
border-radius: 10px;  
border-left-style:solid;
border-left-color:#F0F0F0;
border-left-width:3px;
border-right-style:solid;
border-right-color:#F0F0F0;
border-right-width:3px;
}
.sbutton a:hover {
text-decoration: none;
color: #000; 
background: #ddf;
border-left-style:solid;
border-left-color:#808080;
border-left-width:3px;
border-right-style:solid;
border-right-color:#808080;
border-right-width:3px;
}

.smain_view {
font-family: Arial, Helvetica, sans-serif;
border: 2px solid #ddf;
border-radius: 10px;
text-align: center;
overflow: auto;
clear: both;
background: white;
margin-top: 30px;
margin-left: 30px;
position: relative;
width: 750px;
min-height: 200px;
max-height: 500px;
resize: both;
}

/*canvas style*/
.scanvasdiv {
border: 2px solid #ddf;
border-radius: 10px;
text-align: center;
float: left;
margin-left: 30px;
margin-top: 30px;
position: relative;
width: 750px; 
min-height: 600px;
background: white;
overflow: hidden;
-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
-o-user-select: none;
}
.scanvas
{
cursor: pointer; 
resize: both;
overflow: auto;
}

#group_property_div_id
{
box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
background: white;
border-radius: 3px;  
text-align: center;
position: relative;
width: 50%;
margin: 0px auto;
}

/*tooltip style*/
#tooltip_id
{
border-radius:10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-moz-box-shadow: 0px 0px 8px 4px #666;
-webkit-box-shadow: 0px 0px 8px 4px #666;
box-shadow: 0px 0px 8px 4px #666;
font-size:14px;
position: absolute;
top: 370px;
margin-left: 820px;
display:block;
width: 230px;
padding:2% 2% 2% 2%;
background: rgb(14,14,14); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(14,14,14,1) 33%, rgba(125,126,125,1) 95%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(33%,rgba(14,14,14,1)), color-stop(95%,rgba(125,126,125,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(14,14,14,1) 33%,rgba(125,126,125,1) 95%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(14,14,14,1) 33%,rgba(125,126,125,1) 95%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(14,14,14,1) 33%,rgba(125,126,125,1) 95%); /* IE10+ */
background: linear-gradient(135deg,  rgba(14,14,14,1) 33%,rgba(125,126,125,1) 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color:#fff;
}

/*input buttons customization*/
input[type="button"], input[type="submit"]
{
	border:2px groove #b8b8b8;
	cursor:pointer;
	font-size:		14px;
	background-color:	#efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#b8b8b8));
	background: -webkit-linear-gradient(top, #efefef, #b8b8b8);
	background: -moz-linear-gradient(top, #efefef, #b8b8b8);
	background: -o-linear-gradient(top, #efefef, #b8b8b8);
	background: linear-gradient(top, #efefef, #b8b8b8);
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	color:			#000000;
}
input[type="button"]:hover, input[type="submit"]:hover
{
	background-color:	#4b545f;
	-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}

/*text field customization*/

input[type="text"]
{
	border: 1px solid #ddf;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: white;
}
input[type="text"]:hover
{
	background: #FBFDBB
}
table, th
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: white;
	border: 2px solid #ddf;
}
tr
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F0F0F0;
}
td
{
border: 0px;
background: white;
}
select, textarea, select option
{
	background: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddf;
}


/*list group elements style*/
#list-elem ul
 {
	height: 2.5em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	vertical-align: middle;
	border: 1px Solid black;
 }

 #list-elem li
 {
 	display: block;
	height: 2.5em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	position: relative;
	float: left;
	vertical-align: middle;
	border: 1px Solid black;
 }

 #list-elem li a
 {
	display: block;
	height: 2.5em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	float: left;
	vertical-align: middle;
	border: 1px Solid black;
 }

#list_elem_perm ul
 {
 	display: block;
	height: 2.5em;
	width: auto;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	vertical-align: middle;
	border: 1px Solid black;
 }

#list_elem_perm li
{
	display: block;
	height: 2.5em;
	width: auto;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	vertical-align: middle;
	border: 1px Solid black;
}

#list_elem_perm li a
{
	display: block;
	height: 2.5em;
	width: auto;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	vertical-align: middle;
	border: 1px Solid black;
}

.plotbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background-color:#bddbfa;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.plotbutton:hover {
	background-color:#80b5ea;
}
.plotbutton:active {
	position:relative;
	top:1px;
}

/*************************/
/*******presentation******/
/*************************/
.nav_btns_div {
	margin-top: 20px;
}

.slide_div {
margin-left: 300px;
margin-right: auto;
margin-top: 20px;
position: absolute;
overflow: auto;
cursor: default;
width: 800px; 
box-shadow: 5px 5px 5px rgba(0,0,0,0.20);
height: 580px;
background: #F8FAFB;
-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
-o-user-select: none;
}

.back_button {
	border:2px groove #b8b8b8;
	font-size:		14px;
	background-color:	#efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#b8b8b8));
	background: -webkit-linear-gradient(top, #efefef, #b8b8b8);
	background: -moz-linear-gradient(top, #efefef, #b8b8b8);
	background: -o-linear-gradient(top, #efefef, #b8b8b8);
	background: linear-gradient(top, #efefef, #b8b8b8);
	-webkit-border-radius: 15px 0px 0px 15px;
	-moz-border-radius: 15px 0px 0px 15px;
	border-radius: 15px 0px 0px 15px;
	-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	color:			#000000;
	text-decoration : none;
	padding: 2px 5px;
	float: left;
}
.back_button:hover {
	background:	#ddf;
}
.fwd_button {
	border:2px groove #b8b8b8;
	font-size:		14px;
	background-color:	#efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#b8b8b8));
	background: -webkit-linear-gradient(top, #efefef, #b8b8b8);
	background: -moz-linear-gradient(top, #efefef, #b8b8b8);
	background: -o-linear-gradient(top, #efefef, #b8b8b8);
	background: linear-gradient(top, #efefef, #b8b8b8);
	-webkit-border-radius: 0px 15px 15px 0px;
	-moz-border-radius: 0px 15px 15px 0px;
	border-radius: 0px 15px 15px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	color:			#000000;
	text-decoration : none;
	padding: 2px 5px;
}
.fwd_button:hover {
	background:	#ddf;
}

/***********toolbox**********/
.toolbox {
	width: 200px;
	margin-top: 50px;
	margin-left: 20px;
	position: absolute;
	color:#888;
	font-weight: bold;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
}
.toolbox_button {
	display: inline-block;
	white-space: nowrap;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.3em;
	font: bold 0.7em/2em Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}
.toolbox_button:hover {
	background-color: #ddd;        
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}
.toolbox_button:active {
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}
.toolbox_button:focus {
	outline: 0;
	background: #fafafa;
}    
.toolbox_button:before {
	text-shadow: 0 1px 0 rgba(255,255,255,.1);
	color: #728FCE;
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
	pointer-events: none;        
}
/* Hexadecimal entities for the icons */
.add:before {
	content: "\271A";
}
.copy:before {
	content: "\25E8";
}
.delete:before {
	content: "-";        
}
.delete_current:before {
	content: "\2718";        
}
.save:before {
	content: "\2714";        
}
.undo:before {
	content: "\21B6";
}
.redo:before {
	content: "\21B7";
}
.preview:before {
	content: "\25B6";
}
.slideshow:before {
	content: "\25B7";
}
.download:before {
	content: "\25BC";
}
.title:before {
	content: "\203E";
}
.pagesz:before {
	content: "\2610";
}

.boxselect {
	width: 90px;
	padding:1px;
	margin: 5px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background: #f8f8f8;
	color:#888;
	border:none;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	/*appearance:none;*/
	cursor:pointer;
}
.boxlabel {
	position:relative
}
.boxlabel:after {
	content:'<>';
	font:11px "Consolas", monospace;
	color:#aaa;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	right:8px; top:2px;
	padding:0 0 2px;
	border-bottom:1px solid #ddd;
	position:absolute;
	pointer-events:none;
}
.boxlabel:before {
	content:'';
	right:6px; top:0px;
	width:20px; height:20px;
	background:#f8f8f8;
	position:absolute;
	pointer-events:none;
	display:block;
}

/*********slides navigation**************/
.slidenav {
	position: absolute;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
	width: 300px; 
	margin-top: 610px;
	margin-left: 550px;
	margin-right: auto;
	text-align: center;
}
.slidenav input {
	display: inline-block;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	resize: none;
	text-align: center;
	border: 2px solid #ADD8E6;
	background: #E5E4E2;
    color:#666;
}
.slidenav a {
	height: 1px;
	display: inline;
    color:#666;
    text-decoration:none;
}
.slidenav a:hover {
    border-bottom:3px solid #ADD8E6;
    color:#444;
}

/*******context menu**********/
.context_menu {
	display:none;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
	position: absolute;
	cursor: default;
}
.context_menu > ul:before {
	content:attr(data-header);
	font-size:120%;
	font-weight:bold;
}
.context_menu > ul.list {
	position:absolute; left:30px; top:-30px; z-index:999;
	width: 150px;
	margin:0; padding:5px; list-style:none;
	background:#fff; color:#333;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}
.context_menu > ul.list li {
	padding: 1px;
}
.context_menu > ul.list li:hover {
	background:#728FCE; color:#fff;
}
.context_menu > ul.list li:last-child { border:none }

/***dragable div*****/
.draggable {
	min-width: 50px;
	min-height: 20px;
	max-width: 750px;
	max-height: 600px;
	position: absolute;
	overflow: auto;
	font-family: "Arial Narrow", Arial, sans-serif;
	background: rgba(255, 255, 255, 0.0);
	z-index: 1;
}
.boxText {
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(255, 255, 255, 0.0);
} 
.paragraph {
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
	background: white;
	border: 2px solid #6b727c;
	border-radius: 7px;
	text-align: center;
	min-height: 370px;
	width: 600px;
	max-width: 750px;
	overflow: auto;
}
.title_div {
	background: white;
	border: 2px solid #6b727c;
	border-radius: 7px;
	text-align: center;
	min-height: 150px;
	width: 650px;
	overflow: auto;
}
.slide_title {
	background: #330099;
	margin-top: 0;
	height: 80px;
	position: absolute;
	width: 800px; 
}
.parag_title {
	padding: 0px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.parag_text {
	margin-top: 0;
	overflow: hidden;
	word-wrap:break-word;
}
h1 {
	padding: 0px 20px;
	font-family:"Times New Roman", Times, serif;
	color: #6b727c;
	font-size: 26px;
	width: auto;
}
.sinsert_div {
	border: 2px solid #ddf;
	border-radius: 3px;  
	margin-left: 20px;
	text-align: center;
	background: white;
	width: 550px; height: auto;
	border-radius: 10px;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
}

.right_menu {
	-webkit-transform: skewY(10deg);
	-moz-transform: skewY(10deg);
	-ms-transform: skewY(10deg);
	-o-transform: skewY(10deg);
	transform: skewY(10deg);
	float: right;
	background: #003366;
	list-style: none;
	margin-right: 40px;
	margin-top: 80px;
	padding: 0;
	width: 10em;
}
.right_menu li {
	-webkit-transform: skewY(-10deg);
	-moz-transform: skewY(-10deg);
	-ms-transform: skewY(-10deg);
	-o-transform: skewY(-10deg);
	transform: skewY(-10deg);
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	list-style: none;
}
.right_menu a {
	border: 1px solid blue;
	background: #003366;
	color: #ccc;
	display: block;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 8px 12px;
	text-decoration: none;
	font-weight: normal;
}
.right_menu a:hover {
	background: #2580a2;
	color: #fff;
}

.pres_list {
	display: inline-block;
	text-align: center;
}

.pres_list img {
	display: inline-block;
	vertical-align: middle;
}
.pres_list ul {
	list-style: none;
	border: none;
	margin-left: auto;
	margin-right: auto;
}

.pres_list li {
	border: 2px solid blue;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.pres_list a {
	height: 1px;
    color:#666;
    text-decoration:none;
}
.pres_list a:hover {
    border-bottom:3px solid #ADD8E6;
    color:#444;
}

