
/* button style*/
.sbutton{
padding: 0px;
margin: 0px;
}

.sbutton a {
background-color: #F2F2F2;
color: #CCC;
text-decoration: none;
padding-left: 2px;
padding-right: 2px;
width: 100%;
border-left-style:solid;
border-left-color:#FFF;
border-left-width:3px;
border-right-style:solid;
border-right-color:#FFF;
border-right-width:3px;;
}

.sbutton a:hover {
text-decoration: none;
color: #000; 
border-left-style:solid;
border-left-color:#808080;
border-left-width:3px;
border-right-style:solid;
border-right-color:#808080;
border-right-width:3px;
}

.scommand_panel
{
margin-top: 10;
margin-left: 30;
position: relative;
}

/*canvas style*/
.scanvas
{
border:1px solid #aaa;
margin-top: 20;
margin-right: auto;
margin-left: auto;
position: relative;
width: 80%; height: 10%;
}

.smain_view
{
text-align: center;
border:1px solid #aaa;
overflow: auto;
background: #FBFDFB;
margin-top: 30;
margin-right: auto;
margin-left: auto;
position: relative;
width: 80%; height: 40%;
border-top-left-radius: 18px 18px;
border-bottom-right-radius: 18px 18px;
border-bottom-left-radius: 18px 18px;
border-top-right-radius: 18px 18px;
}

/*tooltip style*/
#tooltip_id
{
border-top-left-radius: 18px 18px;
border-bottom-right-radius: 18px 18px;
border-bottom-left-radius: 18px 18px;
border-top-right-radius: 18px 18px;
font-size:14px;
position: fixed;
top: 40;
margin-left: 220;
display:block;
width: 25em;
padding:2% 2% 2% 2%;
background:#666;
color:#fff;
z-index:-1;
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
}

#grp_div_id
{
border:1px solid #aaa;
text-align: center;
background: #FBFDFB;
margin-right: auto;
margin-left: auto;
width: 60%; height: 35%;
margin-top: 20;
position: relative;
border-top-left-radius: 18px 18px;
border-bottom-right-radius: 18px 18px;
border-bottom-left-radius: 18px 18px;
border-top-right-radius: 18px 18px;
}


/*list group elements style*/
#list-elem ul
 {
 	display: block;
	height: 3em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	float: left;
	vertical-align: middle;
	border: 1px Solid black;
 }

 #list-elem li
 {
 	display: block;
	height: 3em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	float: left;
	vertical-align: middle;
	border: 1px Solid black;
 }

 #list-elem li a
 {
	display: block;
	height: 3em;
	margin: 3px 3px;
	padding: 3px 7px;
	background: #b8b8b8;
	float: left;
	vertical-align: middle;
	border: 1px Solid black;
 }

